.top-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.shapes {
    width: 17.1vw;
    margin-left: 5%;
    border-top: 3px $dark solid;
    border-radius: 7px;
    padding-top: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 5vh);

    .icon {
        margin: 0px;
        font-size: 2em;
        width: 20%;
        height: 100%;

        &:hover {
            cursor: pointer;
        }
    }
}

.settings {

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows:repeat(10, 50px);

.set {
    transition: .5s ease-in-out;

    &:hover {
        font-size: 1.25em;
        color: maroon;
        cursor: pointer;
    }
}

}

.more-files {
    transition: .5s ease-in-out;

    &:hover {
        font-size: 1.25em;
        color: $crayola;
        cursor: pointer;
    }
}


.files {
    display: grid;
    grid-template-rows:auto;
    height: 75%;

    .file-item {
        transition: .5s ease-in-out;
    
        &:hover {
            font-size: 1.25em;
            color: $crayola;
            cursor: pointer;
        }
    }
}